<% if(typeof costFins != 'undefined'){ %>
   

    <table class="table">
        <thead>
            <tr>
          
              <th scope="col">Nombre</th>
              <th scope="col">Comision</th>
             
            </tr>
        </thead>
        <tbody>
    <% costFins.forEach(function(costeFin){ %>
            <tr>
                <td><%= costeFin.nombre; %></td>
                <td><%= costeFin.comision; %></td>
            </tr>  
            
    <% }); %>
        </tbody>
    </table>    
      
<% } %>