<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Happy Pocket</h1>
        <h4>Tu cartera de facturas</h4>
        <h1 style="color: #eb6864;"><i class="fas fa-wallet fa-3x"></i></h1>
        <p>Crea una cuenta o Inicia Sesión</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Registrate</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Inicia Sesión</a>
      </div>
    </div>
  </div>